[Unit]
Description=Python computer monitor that sends real time information via MQTT
After=network.target network-online.target

[Service]
Type=simple
RemainAfterExit=yes
# Change path:
WorkingDirectory=/path/to/PyMonitorMQTT
ExecStart=/path/to/PyMonitorMQTT/bin/python main.py
# Change user and group:
User=user  
Group=group
TimeoutStartSec=0

[Install]
WantedBy=default.target
